body {
  background: #253661;
}

.fab {
  position: fixed;
  right: 30px;
  bottom: 38px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.fab > button {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 0;
  background: #1d91ea;

  color: #f9f9f9;
  transition: 0.2s;
  rotate: 0;
}

.fab > button > span {
  font-size: 32px;
}

.menu {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  translate: -50% -50%;
  border: 80px solid rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  rotate: -220deg;
  scale: 0.7;
  opacity: 0;
  transition: 0.4s ease-out;
}

.fab.open > button {
  rotate: 45deg;
}

.fab.open .menu {
  rotate: 0deg;
  scale: 1;
  opacity: 1;
}

.menu > button {
  position: absolute;
  color: #e0e0e0;
  transition: 0.3s;
}

.menu > button:hover {
  scale: 1.2;
}

.material-symbols-outlined {
  font-size: 40px;
}

.menu > button:nth-child(1) {
  left: 76px;
  top: -62px;
}

.menu > button:nth-child(2) {
  left: -20px;
  top: -16px;
}

.menu > button:nth-child(3) {
  left: -64px;
  top: 80px;
}
