.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 72px;
  border: 0;
  border-radius: 6px;
  background: #24b78e;
  color: #f9f9f9;
  padding: 0 40px 0 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  font-family: "Euclid Circular A";
}

@keyframes spin {
  100% {
    rotate: 360deg;
  }
}

.button.loading img {
  animation: spin 3s infinite linear;
}

.button > span:first-child {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  /* background: red; */
}

.button > span > img {
  position: absolute;
  transition: 0.3s;
}

.button > span > img:first-child {
  top: 0;
  left: 0;

  width: 30px;
}
.button > span > img:last-child {
  right: 0;
  bottom: 0;
  width: 14px;
  opacity: 0;
}

.button.loading img:first-child {
  width: 23px;
}

.button.loading img:last-child {
  opacity: 1;
}
